body{
    margin: 0;
}
#cabecalho{
    margin: 0;
}
#nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 2px solid #4169E1;
}

li{
    margin: 0;
    padding: 10px;
    width: 30%;
    text-align: center;
    border: 2px solid #4169E1;
}

li:hover{
    background: #4169E1;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/*Inicio do main*/

#inputBuscar{
    height: 20px;
    margin-top: 10px;
    margin-left: 70%;
    width: 20%;
}

#btnBuscar{
    height: 25px;
    border: 2px solid black;
}